.AppHeader {
    width: 100%;
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.AppInfo {
    text-align: center;
    font-family: cursive;
    color: white;
}

.Logo { margin: 5px; }
.AppVersion { direction: ltr; }
.AppVersion a { margin: 5px; }

.UserSettings {
    background-color: var(--bg-light);
    box-shadow: 0 0 7px black;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    width: 250px;
}

/* styles to be applied when screen width > 1048px */
@media (min-width: 1048px) {
    .AppHeader {
        flex-direction: row;
        justify-content: space-between;
    }

    .Logo {
        align-self: flex-start;
    }
}
